// Users App
// ========================================================================

@import '../../base/pages/app-user.scss';

// Users avatar shadow
.users-avatar-shadow {
  box-shadow: 2px 4px 14px 0 rgba(34, 41, 47, 0.4);
}

// User view info
.users-page-view-table .user-info {
  div {
    padding: 0.5rem;
  }
  .user-info-title {
    min-width: 140px;
  }
}
