// Switch
// =======================================================================
[dir] .custom-control-input:checked ~ .custom-control-label::before {
  border-color: $primary;
  background-color: $primary;
}
